<div>
  <div class="main">

    <label style="font-family: sans-serif; font-size: 30px;width: 100%; text-align: center"  >
      Thêm Mới  Nhân Viên
    </label>
    <a type="button" href="listnhanvien" class="btn btn-primary">Danh sách nhân viên</a>
    <form  style="width: 50%; margin: 0 25% 20px 25%">

      <!--    <div class="form-row">-->
      <div class="form-group ">
        <label for="manv">Mã Nhân Viên</label>
        <input type="text" class="form-control" id="manv" placeholder="Mã Nhân Viên">
      </div>
      <div class="form-group ">
        <label for="tenv">Tên Nhân Viên</label>
        <input type="text" class="form-control" id="tenv" placeholder="Tên Nhân Viên">
      </div>
      <!--   </div> >-->

      <div class="form-group">
        <label for="ngaysinh">Ngày Sinh</label>
        <input type="date" class="form-control" id="ngaysinh" >
      </div>
      <div class="form-group ">
        <label for="vitri">Vị Trí</label>
        <input type="text" class="form-control" id="vitri" placeholder="Vị Trí">
      </div>


      <div class="form-group ">
        <label for="sdt">Số Điện Thoại</label>
        <input type="text" class="form-control" id="sdt" placeholder="Số Điện Thoại">
      </div>
      <!--   <div class="form-row"> >-->
      <div class="form-group ">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="dc">Địa Chỉ</label>
        <input type="text" id="dc" class="form-control" placeholder="Địa Chỉ">
      </div>

      <!--  </div> >-->

      <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
  </div>
</div>

<style>
  .main{
    margin: 50px 50px 0px 50px;
  }
</style>

