<div>
  <div class="main">

    <label style="font-family: sans-serif; font-size: 30px;width: 100%; text-align: center"  >
      Thêm Mới Sản Phẩm Sách
    </label>
    <form  style="width: 50%; margin: 0 25% 20px 25%">

      <div class="form-row">
      <div class="form-group col-md-6">
        <label for="maspsach">Mã Sản Phẩm Sách</label>
        <input type="text" class="form-control" id="maspsach" placeholder="Mã Sản Phẩm Sách">
      </div>
      <div class="form-group col-md-6">
        <label for="tenspsach">Tên Sản Phẩm Sách</label>
        <input type="text" class="form-control" id="tenspsach" placeholder="Tên Sản Phẩm Sách">
      </div>
      </div>
      <div class="form-row">
      <div class="form-group col-md-6">
        <label for="soluong">Số Lượng</label>
        <input type="text" class="form-control" id="soluong" placeholder="Số Lượng">
      </div>
      <div class="form-group col-md-6 ">
        <label for="dongia">Dơn Gía</label>
        <input type="number" class="form-control" id="dongia" placeholder="dongia">
      </div>
      </div>ă
      <div class="form-group ">
        <label for="sdt">Số Điện Thoại</label>
        <input type="text" class="form-control" id="sdt" placeholder="Số Điện Thoại">
      </div>
         <div class="form-row">
      <div class="form-group col-md-6 ">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Email">
      </div>
      <div class="form-group col-md-6">
        <label for="dc">Địa Chỉ</label>
        <input type="text" id="dc" class="form-control" placeholder="Địa Chỉ">
      </div>
        </div>
      <button type="submit" class="btn btn-primary">Thêm</button>
    </form>
  </div>
</div>

<style>
  .main{
    margin: 50px 50px 0px 50px;
  }
</style>

